# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName michaelmarinaccioactor.com
AuthUserFile /home/wwwmich/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/wwwmich/public_html/_vti_pvt/service.grp
